.sprite-avatar { display: block; width: 100%; height: 100%; background-repeat: no-repeat; }

.avatar-1 { background-position: -0px -0px; }
.avatar-2 { background-position: -146px -0px; }
.avatar-3 { background-position: -292px -0px; }
.avatar-4 { background-position: -438px -0px; }
.avatar-5 { background-position: -584px -0px; }
.avatar-6 { background-position: -730px -0px; }
.avatar-7 { background-position: -876px -0px; }
.avatar-8 { background-position: -0px -146px; }
.avatar-9 { background-position: -146px -146px; }
.avatar-10 { background-position: -292px -146px; }
.avatar-11 { background-position: -438px -146px; }
.avatar-12 { background-position: -584px -146px; }
.avatar-13 { background-position: -730px -146px; }
.avatar-14 { background-position: -876px -146px; }
.avatar-15 { background-position: -0px -292px; }
.avatar-16 { background-position: -146px -292px; }
.avatar-17 { background-position: -292px -292px; }
.avatar-18 { background-position: -438px -292px; }
.avatar-19 { background-position: -584px -292px; }
.avatar-20 { background-position: -730px -292px; }
.avatar-21 { background-position: -876px -292px; }
.avatar-22 { background-position: -0px -438px; }
.avatar-23 { background-position: -146px -438px; }
.avatar-24 { background-position: -292px -438px; }
.avatar-25 { background-position: -438px -438px; }
.avatar-26 { background-position: -584px -438px; }
.avatar-27 { background-position: -730px -438px; }
.avatar-28 { background-position: -876px -438px; }
.avatar-29 { background-position: -0px -584px; }
.avatar-30 { background-position: -146px -584px; }
.avatar-31 { background-position: -292px -584px; }
.avatar-32 { background-position: -438px -584px; }
.avatar-33 { background-position: -584px -584px; }
.avatar-34 { background-position: -730px -584px; }
.avatar-35 { background-position: -876px -584px; }
.avatar-36 { background-position: -0px -730px; }
.avatar-37 { background-position: -146px -730px; }
.avatar-38 { background-position: -292px -730px; }
.avatar-39 { background-position: -438px -730px; }
.avatar-40 { background-position: -584px -730px; }
.avatar-41 { background-position: -730px -730px; }
.avatar-42 { background-position: -876px -730px; }
.avatar-43 { background-position: -0px -876px; }
.avatar-44 { background-position: -146px -876px; }
.avatar-45 { background-position: -292px -876px; }
.avatar-46 { background-position: -438px -876px; }
.avatar-47 { background-position: -584px -876px; }
.avatar-48 { background-position: -730px -876px; }
.avatar-49 { background-position: -876px -876px; }