* {
  box-sizing: border-box;
}

page {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

view,
text,
image,
button,
input,
textarea {
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
}

button::after {
  border: none;
}

input,
textarea {
  outline: none;
}

scroll-view {
  height: 100%;
}